<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Home.html</title>
	<!-- css and script -->
	<th:block th:replace="layout/css::css1"></th:block>
	<th:block th:replace="layout/script::script1"></th:block>
	<!-- /css and script -->
</head>
<body>
	<!-- header -->
	<div th:replace="layout/header::header1"></div>
	<!-- /header -->

	<!-- main -->
	<div class="container">
		<br/><br/>
		<div class="jumbotron">
			<h1>안녕하세요, 환영합니다.</h1>
			<p>
				함께 SpringBoot를 공부할 준비되셨나요? '시작하기'를 눌러주세요.
			</p>
			<p align="right">
				<a class="btn btn-primary btn-lg" th:href="@{/board/list}">시작하기</a>
			</p>
		</div>
	</div>
	<!-- /main -->
	
	<!-- footer -->
	<div th:replace="layout/footer::footer1"></div>
	<!-- /footer -->
</body>
</html>