<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>form.html</title>
	<!-- css and script -->
	<th:block th:replace="layout/css::css1"></th:block>
	<th:block th:replace="layout/script::script1"></th:block>
	<!-- /css and script -->
</head>
<body>
	<!-- header -->
	<div th:replace="layout/header::header1"></div>
	<!-- /header -->
	
	<!-- main -->
	<div class="container">
		<div class="page-header">
			<h1>게시글 등록</h1>
		</div>
		<br/>
		<input id="board_id" type="hidden" th:value="${board?.id}"/>
		<input id="board_create_date" type="hidden" th:value="${board?.createdDate}"/>
		<table class="table">
			<tr>
				<th style="padding:13px 0 0 15px;">생성날짜</th>
				<td><input type="text" class="col-md-1 form-control input-sm" readonly="readonly" th:value="${board?.createdDate} ? ${#temporals.format(board.createdDate,'yyyy-MM-dd HH:mm')} : ${board?.createdDate}"/></td>
			</tr>
			<tr>
				<th style="padding:13px 0 0 15px;">제목</th>
				<td><input id="board_title" type="text" class="col-md-1 form-control input-sm" th:value="${board?.title}"/></td>
			</tr>
			<tr>
				<th style="padding:13px 0 0 15px;">부제목</th>
				<td><input id="board_sub_title" type="text" class="col-md-1 form-control input-sm" th:value="${board?.subTitle}"/></td>
			</tr>
			<tr>
				<th style="padding:13px 0 0 15px;">내용</th>
				<td><textarea id="board_content" class="col-md-1 form-control input-sm" maxlength="140" rows="7" style="height: 200px;" th:text="${board?.content}"></textarea><span class="help-block"></span></td>
			</tr>
			<tr>
				<th style="padding:13px 0 0 15px;">사용자</th>
				<td><input id="board_user_id" type="text" class="col-md-1 form-control input-sm" th:value="${board?.userId}"/></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</table>
		<div class="pull-left">
			<a th:href="@{/board/list}" class="btn btn-default">목록으로</a>
		</div>
		<div class="pull-right">
			<button th:if="!${board?.id}" type="button" class="btn btn-primary" id="insert">저장</button>
			<button th:if="${board?.id}" type="button" class="btn btn-info" id="update">수정</button>
			<button th:if="${board?.id}" type="button" class="btn btn-danger" id="delete">삭제</button>
		</div>
	</div>
	<!-- /main -->
	
	<!-- footer -->
	<div th:replace="layout/footer::footer1"></div>
	<!-- /footer -->
	
	<!-- script -->
	<script th:if="!${board?.id}">
		$('#insert').click(function() {
			var jsonData = JSON.stringify({
				title: $('#board_title').val(),
				subTitle: $('#board_sub_title').val(),
				userId: $('#board_user_id').val(),
				content: $('#board_content').val()
			});
			$.ajax({
				url: _contextPath_ + "/api/boards/",
				type: "POST",
				data: jsonData,
				contentType: "application/json",
				header: {
					"Authorization": "Basic " + btoa("havi" + ":" + "test")
				},
				dataType: "json",
				success: function() {
					alert('저장 성공~~');
					location.href = _contextPath_ + '/board/list';
				},
				error: function() {
					alert('저장 실패!!');
				}
			});
		});
	</script>
	<script th:if="${board?.id}">
		$('#update').click(function() {
			var jsonData = JSON.stringify({
				title: $('#board_title').val(),
				subTitle: $('#board_sub_title').val(),
				userId: $('#board_user_id').val(),
				content: $('#board_content').val(),
				createdDate: $('#board_create_date').val()
			});
			$.ajax({
				url: _contextPath_ + "/api/boards/" + $('#board_id').val(),
				type: "PUT",
				data: jsonData,
				contentType: "application/json",
				dataType: "json",
				success: function() {
					alert('수정 성공~~');
					location.href = _contextPath_ + '/board/list';
				},
				error: function() {
					alert('수정 실패!!');
				}
			});
		});
		$('#delete').click(function() {
			$.ajax({
				url: _contextPath_ + "/api/boards/" + $('#board_id').val(),
				type: "DELETE",
				success: function() {
					alert('삭제 성공~~');
					location.href = _contextPath_ + '/board/list';
				},
				error: function() {
					alert('삭제 실패!!');
				}
			});
		});
	</script>
</body>
</html>