<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>list.html</title>
	<!-- css and script -->
	<th:block th:replace="layout/css::css1"></th:block>
	<th:block th:replace="layout/script::script1"></th:block>
	<!-- /css and script -->
</head>

<body>
	<!-- header -->
	<div th:replace="layout/header::header1"></div>
	<!-- /header -->
	
	<!-- main -->
	<div class="container">
		<div class="page-header">
			<h1>게시글 목록</h1>
		</div>
		<div class="pull-right" style="width:100px;margin:10px 0;">
			<a th:href="@{/board}" class="btn btn-primary btn-block">등록</a>
		</div>
		<br/><br/><br/>
		<div id="mainHide">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-1">#</th>
						<th class="col-md-4">제목</th>
						<th class="col-md-3">부제</th>
						<th class="col-md-2">사용자</th>
						<th class="col-md-2">생성 날짜</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="board : ${boardList}">
						<td th:text="${board.id}">#</td>
						<td><a th:href="@{/board(id=${board.id})}" th:text="${board.title}">제목</a></td>
						<td th:text="${board.subTitle}">부제</td>
						<td th:text="${board.userId}">사용자</td>
						<td th:text="${board.createdDate} ? ${#temporals.format(board.createdDate,'yyyy-MM-dd HH:mm')} : ${board.createdDate}">생성 날짜</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br/>
		
		<!-- page -->
		<th:block th:replace="layout/page::page1"></th:block>
		<!-- /page -->
	</div>
	<br/><br/>
	<br/><br/>
	<!-- /main -->
	
	<!-- footer -->
	<div th:replace="layout/footer::footer1"></div>
	<!-- /footer -->
</body>
</html>